on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Version'
        required: true
        type: string

jobs:
  update-formula:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Update formula
        run: |
          VERSION='${{ github.event.inputs.version }}' ./scripts/update-formula.sh

          git config --local user.name "github-actions[bot]"
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git add Formula/leadr.rb
          git commit -m 'Updated leadr to ${{ github.event.inputs.version }}'
          git push

